# **Useful Hints and Code Snippets for Assignment 2.**
Brandon Inoshita

### **Importing Pandas and Numpy**

### **Loading data using `.read_csv()`**

* The `.read_csv()` function is used to read a comma-separated values (csv) file into DataFrame.

* The `.read_csv()` require the user to specify the path where the file is locate.

### **Preliminary exploritory steps.**

 **Viewing a sample of data using `.head()`**

* The .head() function allows us to preview the data.
* By default, it displays the first 5 rows of the DataFrame.
* You can pass an argument to the .head() method to change the number of rows displayed.

**Viewing additional information about your data using `.info()`**

* The `.info()` method is useful for diagnosising potential problems with the data.

### **Slicing and selecting data**

**Isolating a single coumn using brackets `['var name']`**

* You can isolate a single column from a DataFrame by using square brackets [ ] with the column name inside. The output will be a pandas Series object. A pandas Series is a one-dimensional array that can contain data of any type, including integers, floats, strings, booleans, and Python objects.
* In the following example, we will isolate the "diagnosis" column and save it to a variable called `outcome`.

**Isolating two or more columns using `[['var name1', 'var name2']]`**

* You can also provide a list of column names inside the square brackets to fetch more than one column.
* In the following example, we will isolate the columns 'id', 'diagnosis', and 'radius_mean', and store this subset in a new variable called `my_subset`.

**Isolating columns based on column index using `.iloc[:,column_index]`**

* Instead of relying on column names, you can isolate columns based on their index using the `iloc[]` method.
* Here is an alternative way of completing the previous example using the `iloc[]` method.:

**Isolating rows based on row index using .iloc[row_index]**

* The `iloc` method can also be used for isolating specific row(s:).
* In the following example, we will print the first 3 rows.

**Slicing rows using `.iloc[start_index:end_index]`**

* You can use .iloc[start_index:end_index] to isolate all rows from start_index to end_index, excluding the row at end_index.

* For example, here is an alternative way to print the first 3 rows:

**Slicing columns using `.iloc[:,start_index:end_index]`**

* You can use .iloc[:,start_index:end_index] to isolate all columns from start_index to end_index, excluding the column at end_index.

* In the following example, we will isolate the tumor measurement columns and save the result in a variable called tumor_measurements.

**Isolating a row by a condition:**

* Instead of isolating rows by index, you can also do so based on logical conditions.

* In the following example, we will isolate the row corresponding to the patient ID 84300903.

* In the following example, we will isolate all rows corresponding to the benign diagnisis.

**Selecting random rows using`.sample(sample_size, random_state = 42)`**

* You can use the .sample method to select random rows from a DataFrame.
* Note: specifying a random_state is effectively the same thing as specifying a random seed.

**Understanding check:**

**Take the next 15 minutes to complete the following:**

1. Create a variable called subject_a_measurements that stores the tumor measurements (columns 3 to 32) for the patient with ID 87930.
2. Create a variable called subject_b_measurements that stores the tumor measurements (columns 3 to 32) for the patient with ID 92751.
3. Print 5 random rows corresponding to malignant diagnoses. Be sure to set random_state to 42.

In [2]:
# Write your answer for question 1 here:

In [1]:
# Write your answer for question 2 here:

In [3]:
# Write your answer for question 3 here:

### **User Defined Function**

* While Python has many useful features, there are some cases where you might want to create your own functions
* In python, you can use the `def` function to create your own functions that satisfy your use cases.

**Syntax for user-defined functions:**

```python
def function_name(arguments):
    # Block of codes
    return output
```

**A simple example:**

The following function will accept a temperature in Fahrenheit and convert the value to Celsius using the conversion formula
(temp_f - 32)*5/9.

### **Misc. Pandas**

**Sorting data using the .sort_values() method**

* The .sort_values() will sort a DataFrame by the values along either axis.

**Potential issue you may encounter**

### **In class activity:**

1. Create a function called euclidean_distance that accepts arguments a and b and returns the Euclidean distance between a and b.

2. Create a variable called subject_a_measurements that stores the tumor measurements for the patient with the ID 8611555.

3. Convert subject_a_measurements to a 1D NumPy array. Save these values as a variable called sub_a_numpy.

4. Modify the df.iloc[].to_numpy() line so that it isolates the tumor measurements for the i-th patient.

5. Calculate the Euclidean distance between the sub_a_numpy array and row_i. Set this value to dis_a_to_row_i.

6. Sort the DataFrame based on the distance column in ascending order. Save the result in a variable called similarity_to_a.

7. Print out just the first 6 rows for the id, diagnosis, and distance columns of the similarity_to_a variable.

In [ ]:
# 1 Create a function to calculate the euclian distances.

# 2. Create a variable called 'subject_a_measurements.'

# 3. Convert subject_a_measurements to a 1d numpy array.

distances = []

for i in range(len(df)):
  # 4. Modify the df.iloc[].to_numpy() line
  row_i = df.iloc[].to_numpy()

  # 5. Apply the euclidian distance function
  dis_a_to_row_i =
  distances.append(dis_a_to_row_i)

df['distances'] = distances

# 6. Sort the dataframe based on the distance column and ascending order.

# 7. Print  out just the first 6 rows for the id, diagnosis, and distance columns of the similarity_to_a variable.